<li>
	{{burger_name}}
console.log ({{burger_name}} + " from burger-block");
	<button class="change-devoured" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}}Eat It!{{else}}Rewind Time!{{/if}}
	</button>
</li>
{{!-- 
<li class="list-group-item">
	{{burger_name}}
	console.log ({{burger_name}} + " from burger-block");

	<button class="btn btn-light change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Chow time!{{else}}Rewind Time!{{/if}}
	</button>
</li> --}}